.container {
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    min-width: 370px;
    border-radius: 2rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    color: hsl(241, 100%, 89%);
}

.score {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-inline: auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 60px;
        color: white;
    }
}

.hundred {
    color: hsl(241, 100%, 89%);
    font-weight: 700;
}

.subtitle {
    color: white;
}

.body {
    width: 28ch;
    margin-inline: auto;
    color: hsl(241, 100%, 89%);
    margin-bottom: 1rem;
}